---
name: CI
on:
  pull_request:
    branches:
      - main
  merge_group:
  push:
    branches:
      - main
    tags:
      - v*
env:
  CGO_ENABLED: '0'
  # renovate: datasource=github-releases depName=golangci/golangci-lint versioning=semver-coerced
  GOLANGCI_LINT_VERSION: "v1.64.8"
  # renovate: datasource=github-releases depName=goreleaser/goreleaser versioning=semver-coerced
  GORELEASER_VERSION: "v2.13.0"
jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: Download dependencies
        run: go mod download
      - name: Verify dependencies
        run: go mod verify
      - name: Test
        run: go test -v ./...
      - name: Clean
        run: |
          git clean -ffdx
          git reset --hard HEAD
      - name: GoReleaser (Snapshot)
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          args: release --snapshot --clean
          version: ${{ env.GORELEASER_VERSION }}
      - name: Upload Snapshot
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: sentry-sendmail
          if-no-files-found: error
          path: |
            dist/*.deb
            dist/*.tar.gz
      - name: Unshallow
        if: startsWith(github.ref, 'refs/tags/')
        run: git fetch --prune --unshallow
      - name: GoReleaser (Release)
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: ${{ env.GORELEASER_VERSION }}
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
